.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;

  .drawer {
    transform: translateX(0);
  }
}

.drawer {
  position: absolute;
  width: 420px;
  right: 0;
  height: 100%;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.2s ease-out;

  h2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 29px;

    img {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 30px ;

  .item {
    display: flex;
    align-content: center;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    padding: 20px;

    .image {
      position: relative;
      top: -10px;
      margin-right: 20px;
    }

    .title {
      p {
        margin-top: 5px;
      }
    }

    .remove {
      cursor: pointer;
      margin-left: 10px;
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;

  li {
    display: flex;

    span {
      font-size: 16px;
      line-height: 19px;
    }

    b {
      font-size: 16px;
      line-height: 19px;
    }

    div {
      flex: 1;
      margin: 0 10px;
      border-bottom: 1px dashed #DFDFDF;
      position: relative;
      top: -4px;
    }
  }
}
